:root {
	--h1-color: rgb(40, 40, 40);
	--h2-color: rgb(40, 40, 40);
	--h3-color: rgb(60, 60, 60);
	--text-color: rgb(65, 65, 65);
	--underline-color: rgb(138, 138, 138);
	--border-color: rgb(198, 208, 228);
}

@media print {
	@page {
		size: A4;
		margin: 10mm;
	}

	body {
		margin: 0;
		font-family: Arial, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		color: var(--text-color);
		background: none;
	}

	.container {
		padding: 0;
		background: none;
	}

	/* Header */

	.header {
		display: block;
		margin-bottom: 20px;
		padding-top: 5px;
		padding-left: 24px;
		padding-right: 24px;
		padding-bottom: 12px;
		border-left: 5px solid var(--border-color);
		border-bottom: 0;
	}

	.header__link {
		display: none;
	}

	.header__contacts-list {
		gap: 18px;
	}

	.header__desc {
		display: initial;
	}

	.header__contact-link-pdf {
		display: initial;
	}

	.header__contact-link-site {
		display: none;
	}

	.header__title {
		margin: 0;
		font-size: 31px;
		line-height: 44px;
		color: var(--h1-color);
	}

	.header__job {
		padding-top: 4px;
		margin-top: 0;
		margin-bottom: 12px;
		font-size: 25px;
		line-height: 44px;
		color: var(--h2-color);
	}

	/* Body content */

	.main__title {
		padding-top: 16px;
		margin-top: 0;
		margin-bottom: 8px;
		font-size: 25px;
		line-height: 48px;
		color: var(--h2-color);
	}

	.main__text {
		margin-top: 7px;
		padding-bottom: 17px;
	}

	.main__job-title {
		padding-top: 5px;
		margin-bottom: 19px;
		font-size: 20px;
		line-height: 24px;
		color: var(--h3-color);
	}

	.main__job-list {
		margin-top: 17px;
		margin-left: 17px;
	}

	.rename-this-class {
		gap: 24px;
	}

	.main__job-info {
		font-size: 15px;
		line-height: 1.5;
	}

	/* Elements */

	.link {
		color: var(--print-text-color);
		border-width: 1px;
		border-color: var(--underline-color);
	}
}
