:root {
	--background-color: #353f52;
	--background-content-color: #fff;
	--h1-color: #000;
	--h2-color: #282828;
	--h3-color: #3c3c3c;
	--text-color: #414141;
	--link-color: #454948;
	--underline-color: #9d9d9d;
	--border-color: #3c3c3c;
	--sections-gap: 12px;
	
	/* Font sizes */
	--font-size-base: 14px;
	--font-size-h1: 29px;
	--font-size-h2: 22px;
	--font-size-h3: 16px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	min-height: 100vh;
	margin: 30px;
	font-family: Arial, sans-serif;
	font-size: var(--font-size-base);
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	color: var(--text-color);
	background: var(--background-color);
}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 32px;
	background: var(--background-content-color);
	border-radius: 10px;
}

/* Elements */

.rename-this-class {
	display: flex;
	align-items: baseline;
}
.rename-this-class > *:not(:last-child) {
	margin-right: 16px;
}

.link {
	color: var(--text-color);
	border-width: 1px;
	border-color: var(--underline-color);
}

/* Header */

.header {
	padding: 0 0 var(--sections-gap);
	/* border-bottom: 3px solid var(--border-color); */
}

.header__contacts-list {
	display: inline-flex;
	align-items: start;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}
.header__contacts-list > *:not(:last-child) {
	margin-right: 18px;
}

/* .header__contact-item {
	position: relative;
	display: inherit;
	align-items: center;
} */

.header__title {
	grid-area: 1 / 1 / 2 / 3;
	margin: 0;
	font-family: 'Arial black';
	font-size: var(--font-size-h1);
	font-weight: 800;
	font-style: normal;
	line-height: 1.1;
	color: var(--h1-color);
}

.header__job {
	grid-area: 2 / 1 / 2 / 3;
	margin-top: 0;
	margin-bottom: 12px;
	padding-top: 4px;
	font-size: var(--font-size-h2);
	font-weight: 600;
	font-style: normal;
	line-height: 1.1;
	color: var(--h2-color);
}


/* Body content */

/* .main {
	display: flex;
	flex-direction: column;
} */

.main__text:not(:last-of-type) {
	padding-bottom: 12px;
}

.main__title {
	margin: var(--sections-gap) 0 8px;
	padding-top: var(--sections-gap);
	font-size: var(--font-size-h2);
	font-weight: 600;
	font-style: normal;
	line-height: 1.1;
	color: var(--h2-color);
	border-top: 3px solid var(--border-color);
}

.main__job + .main__job {
	margin-top: 16px;
}

.main__job-title {
	font-size: var(--font-size-h3);
	font-weight: 600;
	font-style: normal;
	line-height: 1.1;
	color: var(--h3-color);
}

.main__job-info {
	font-size: var(--font-size-h3);
	line-height: 1.3;
}

.main__job-list {
	margin-top: 8px;
	margin-left: 32px;
	padding: 0;
}

/* b {
	font-weight: 500;
} */
