{% extends "./layouts/base.njk" %}

{% block content %}
	<div class="main">
		<section class="main__section" aria-labelledby="summary">
			<h2 class="main__title" id="summary">
				{{ cv.summary.title }}
			</h2>
			{% for paragraph in cv.summary.paragraphs %}
				<p class="main__text">
					{{ paragraph }}
				</p>
			{% endfor %}
		</section>

		<section class="main__section" aria-labelledby="experience">
			<h2 class="main__title" id="experience">
				{{ cv.experience.title }}
			</h2>
			{% for job in ["last", "previous", "third", "fourth", "fifth", "initial"] %}
				{% if cv.experience[job] %}
					<article class="main__job">
						<header class="main__job-header">
							<div class="rename-this-class">
								<h3 class="main__job-title">
									{{ cv.experience[job].company }}
								</h3>
								<div class="main__job-info">
									<span class="main__job-date">
										{{ cv.experience[job]["time period"] }},
									</span>
									<span class="main__job-type">
										{{ cv.experience[job].location }}
									</span>
								</div>
							</div>
							<span class="main__job-position">
								{{ cv.experience[job]["job title"] }}
							</span>
						</header>
						{% if cv.experience[job].description %}
							<p class="main__text">
								{{ cv.experience[job].description }}
							</p>
						{% endif %}
						<ul class="main__job-list">
							{% for achievement in cv.experience[job].achievements %}
								{% if achievement %}
									<li class="main__job-item">
										{{ achievement }}
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</article>
				{% endif %}
			{% endfor %}
		</section>

		<section class="main__section" aria-labelledby="skills">
			<h2 class="main__title" id="skills">
				{{ cv.skills.title }}
			</h2>
			{% for subgroup in ["skillset 1", "skillset 2", "skillset 3", "skillset 4", "skillset 5", "skillset 6"] %}
				{% if cv.skills[subgroup] %}
					<div class="main__text">
						<b>{{ cv.skills[subgroup].name }}</b>
						{% if cv.skills[subgroup].set is iterable and cv.skills[subgroup].set is not string %}
							<ul class="main__job-list">
								{% for skill in cv.skills[subgroup].set %}
									<li class="main__job-item">{{ skill }}</li>
								{% endfor %}
							</ul>
						{% else %}
							{{ cv.skills[subgroup].set }}
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</section>

		<section class="main__section" aria-labelledby="education">
			<h2 class="main__title" id="education">
				{{ cv.education.title }}
			</h2>
			<article class="main__job">
				<header class="main__job-header">
					<div class="rename-this-class">
						<h3 class="main__job-title">
							{{ cv.education.place }}
						</h3>
						<div class="main__job-info">
							<span class="main__job-date">{{ cv.education.year }},</span>
							<span class="main__job-type">{{ cv.education.location }}</span>
						</div>
					</div>
					<span class="main__job-position">
						{{ cv.education.degree }}
					</span>
				</header>
			</article>
		</section>

		<section class="main__section" aria-labelledby="hobbies">
			<h2 class="main__title" id="hobbies">
				{{ cv.hobbies.title }}
			</h2>
			<p class="main__text">
				{{ cv.hobbies.content }}
			</p>
		</section>
	</div>
{% endblock %}
