<div class="header">
	<div class="header__desc">
		<h1 class="header__title" aria-describedby="job-title">
			{{ cv.personal["candidate name"] }}
		</h1>
		<h2 class="header__job" id="job-title">
			{{ cv.personal["job title"] }}
		</h2>
	</div>
	<div class="header__contacts">
		<nav>
			<ul class="header__contacts-list">
				<li class="header__contact-item header__contact-item--location">
					{{ cv.personal["location"] }}
				</li>
				<li class="header__contact-item">
					<a
						class="header__contact-link link"
						href="mailto:{{ cv.personal.email["address"] }}"
					>
						{{ cv.personal.email["address"] }}
					</a>
				</li>
				<li class="header__contact-item">
					<a
						class="header__contact-link link"
						href="tel:{{ cv.personal.phone["number"] }}"
					>
						{{ cv.personal.phone["number"] }}
					</a>
				</li>
				<li class="header__contact-item">
					<a
						class="header__contact-link link"
						href="{{ cv.personal.link["url"] }}"
					>
						<span class="header__contact-link-pdf">
							{{ cv.personal.link["label"] }}
						</span>
					</a>
				</li>
				<li class="header__contact-item">
					<a
						class="header__contact-link link"
						href="{{ cv.personal.portfolio["url"] }}"
					>
						<span class="header__contact-link-pdf">
							{{ cv.personal.portfolio["label"] }}
						</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
